<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Books</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Books</h1>
    <div>The Harry Potter books make up the popular series written by J. K. Rowling. The series spans seven books. 
        The books have been made into eight films by Warner Bros. The final book was then split into two films.
    </div>
    <div><h3>The following is a list of the seven books in the Harry Potter series. Each novel corresponds to a year-long period of time, usually in reference to Harry Potter's year at Hogwarts School of Witchcraft and Wizardry.</h3>
        <ul>
            <li>Harry Potter and the Philosopher's Stone (1997)</li>
            <li>Harry Potter and the Chamber of Secrets (1999)</li>
            <li>Harry Potter and the Prisoner of Azkaban (1999)</li>
            <li>Harry Potter and the Goblet of Fire (2000)</li>
            <li>Harry Potter and the Order of the Phoenix (2003)</li>
            <li>Harry Potter and the Half-Blood Prince (2005)</li>
            <li>Harry Potter and the Deathly Hallows (2007)</li>
            </li>
        </ul>
    </div>
    <a href="/home">Back to Home</a> 
  </body>
</html>