<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Schools</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1 class="houses-title">Houses</h1>
    <h3 class="houses-info">
      Hogwarts School of Witchcraft and Wizardry was founded by four of the most
      brilliant witches and wizards of their time. It was founded in the 10th
      century by Godric Gryffindor, Rowena Ravenclaw, Helga Hufflepuff and
      Salazar Slytherin. Each of them created a house in their names and thus
      established one of the best schools in the wizarding world. Many of the
      individuals in each house have similar traits or qualities as the original
      founders. Young witches and wizards receive their letters to Hogwarts at
      the mere age of 11 years old. Before beginning their schooling , each
      student must first be sorted into their correct houses by the magical
      Sorting Hat.
    </h3>
    <h4>Gryffindor</h4>
    <p>
      Those in this house are well known for their bravery and courage. Their
      house animal is the lion and their house colors are scarlet and gold.
      Gryffindors never back down from a fight or doing what they believe is
      right. Some of the most famous gryffindors include Harry Potter and Albus
      Dumbledore, the most recent headmaster of Hogwarts.
    </p>
    <img src="" />
    <a href="/books">Back to Books</a>
  </body>
</html>
