body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
}

.logo {
    text-align: center;
}

.welcome-title {
  text-align: center;
}

.home-text {
  text-align: center;
}


.buttons{
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
    list-style: none;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }  

  /* ul.topnav li {
    float: center;
} */

  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    /* float: right; */
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 200px;
    height: 200px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }